<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.origin89.apps.bench</string>
	<key>CFBundleName</key>
	<string>setup-bench</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>setup-bench connects to a controller over Bluetooth to run setup on the bench.</string>
</dict>
</plist>
